{% extends 'candidate/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% for message in messages %}
        <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ message }}
        </div>
    {% endfor %}
    <h1>Interview Portal for Candidates</h1>
    <p class="lead">This portal helps the candidate to sign up and login to portal.And keep track of their application.</p>
    <br>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Source Code</a>
    </p>
{% endblock %}