{% extends 'candidate/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class ='cover-container d-flex w-100 h-100 p-5 mx-auto flex-column'>
    {% for message in messages %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    {% if not done %}
    <h2 class="text-center alert alert-info">Candidate Registration Form</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.last_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.skill|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.phone|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.dateofbirth|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.experience|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 mb-0">
          {{ form.noticeperiod|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.source|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
          {{ form.resume|as_crispy_field }}
        </div>
      </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
    </form>
    {% else %}
        <h2 class="text-center alert alert-warning">Candidate Information</h2>
        <table class="table table-dark table-bordered">
          <tbody>
            <tr>
              <td>Username</td>
              <td>{{ qs.username }}</td>
            </tr>
            <tr>
              <td>First Name</td>
              <td>{{ qs.first_name }}</td>
            </tr>
          <tr>
              <td>last Name</td>
              <td>{{ qs.last_name }}</td>
            </tr>
          <tr>
              <td>Email</td>
              <td>{{ qs.email }}</td>
            </tr>
          <tr>
              <td>Phone</td>
              <td>{{ qs.phone }}</td>
            </tr>
          <tr>
              <td>Date of Birth</td>
              <td>{{ qs.dateofbirth }}</td>
            </tr>
          <tr>
              <td>Experience</td>
              <td>{{ qs.experience }}</td>
            </tr>
          <tr>
              <td>Notice Period</td>
              <td>{{ qs.noticeperiod }}</td>
            </tr>
          <tr>
              <td>Source</td>
              <td>{{ qs.source }}</td>
            </tr>
          <tr>
              <td>Skill</td>
              <td>{{ qs.skill }}</td>
            </tr><tr>
              <td>Status</td>
              <td>{{ qs.status }}</td>
            </tr>
          <tr>
              <td>Resume</td>
              <td><a href="{{qs.resume.url}}">{{ file }}</a></td>
            </tr>
          </tbody>
        </table>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="{% url 'candidate:candidate-edit' qs.id %}" class="btn btn-light btn-sm">Edit</a>
        </div>
        
    {% endif %}
</div>
{% endblock %}