{% extends 'candidate/mail_template.html' %}

{% block body %}
<div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f8f8; border-radius: 10px;">
    <h2 style="color: #333333;">Welcome to Interview Portal!</h2>
    <p style="color: #666666;">Dear {{username}},</p>
    <p style="color: #666666;">Congratulations! You've successfully registered for an account on Interview Portal. We're excited to have you join our community!</p>
    <p style="color: #666666;">Please login and update your profile to start with your interview process.</p>
    <p style="color: #666666;">With your new account, you can now access all the features and benefits our platform offers.</p>
    <p style="color: #666666;">If you have any questions, need assistance, or want to provide feedback, feel free to reach out to our support team. We're here to help!</p>
    <p style="color: #666666;">Thank you for choosing Interview Portal. We look forward to seeing you around!</p>
    <p style="color: #666666;">Best regards,</p>
    <p style="color: #666666;">Abhishek Sahu<br>Python Developer</p>
</div>
{% endblock %}