{% extends 'employee/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class ='cover-container d-flex w-50 h-100 p-5 mx-auto flex-column'>
    {% for message in messages %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    {% if not done %}
    <h2 class="text-center alert alert-info">Create Profile</h2>
    <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
        <br><button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
    </form>
    {% else %}
        <h2 class="text-center alert alert-warning">Profile is completed.</h2>
        <table class="table table-dark table-bordered">
          <tbody>
            <tr>
              <td>Employee Name</td>
              <td>{{ qs.employee_name }}</td>
            </tr>
          <tr>
              <td>Employee Email</td>
              <td>{{ qs.employee_email }}</td>
            </tr>
          <tr>
              <td>Employee Skill</td>
              <td>{{ qs.employee_skill }}</td>
            </tr>
          <tr>
              <td>Employee Level</td>
              <td>{{ qs.employee_level }}</td>
            </tr>
          </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}