{% extends 'employee/base.html' %}
{% block content %}
<h2 class="text-center alert alert-info">Show Candidate Information</h2>
{% for message in messages %}
<div class="alert alert-success">
{{ message }}
</div>
{% endfor %}
{% if candidate_list %}
<div class="container mt-auto">
<table class="table table-hover table-dark table-bordered" id="userTable">
 <thead>
   <tr>
     <th scope="col">Name</th>
     <th scope="col">Email</th>
     <th scope="col">Skill</th>
     <th scope="col">Experience</th>
     <th scope="col">Notice Period</th>
     <th scope="col">Source</th>
     <th scope="col">Date</th>
   </tr>
 </thead>
 <tbody>
  {% for candidate in candidate_list %}
   <tr>
     <td>{{candidate.candidate_id.first_name}} {{candidate.candidate_id.last_name}}</td>
     <td>{{candidate.candidate_id.email}}</td>
     <td>{{candidate.candidate_id.skill}}</td>
     <td>{{candidate.candidate_id.experience}}</td>
     <td>{{candidate.candidate_id.noticeperiod}}</td>
     <td>{{candidate.candidate_id.source}}</td>
     {% if level == 'l1' %}
        <td>{{candidate.l1_at|date:'Y-m-d H:i'}}</td>
      {% elif level == 'l2' %}
        <td>{{candidate.l2_at|date:'Y-m-d H:i'}}</td>
      {% elif level == 'hr' %}
        <td>{{candidate.hr_at|date:'Y-m-d H:i'}}</td>
      {% else %}
      <td>{{ ''}}</td>
      {% endif %}
   </tr>
  {% endfor %}
 </tbody>
</table>
{% else %}
    <h2 class="text-center alert alert-warning">No Records</h2>
{% endif %}
<!--    Now the pagination section-->

{% if is_paginated %}
    <div class="pagination" >
        <span class="page-links" >
            {% if page_obj.has_previous %}
            <button class="btn btn-outline-primary" type="button"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <button class="btn btn-outline-primary" type="button"><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
            {% endif %}
        </span>
    </div>
<br>
{% endif %}
</div>
{% endblock content %}