{% extends 'employee/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class ='cover-container d-flex w-50 h-100 p-5 mx-auto flex-column'>
    {% for message in messages %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
    <br>
    <h2 class="text-center alert alert-info">Employee Signup</h2>
    <form method="post">
      {% csrf_token %}
      {{ form | crispy }}
        <br><button class="w-100 btn btn-lg btn-primary" type="submit">Signup</button>
    </form>
</div>
{% endblock %}