{% extends 'admin/base.html' %}
{% block content %}
<h2 class="text-center alert alert-info">Show Employee Information</h2>
{% for message in messages %}
<div class="alert alert-success">
{{ message }}
</div>
{% endfor %}
{% if employee_list %}
<table class="table table-hover table-dark table-bordered" id="userTable">
 <thead>
   <tr>
    <th scope="col">Username</th>
     <th scope="col">Name</th>
     <th scope="col">Email</th>
     <th scope="col">Skill</th>
     <th scope="col">Level</th>
     <th scope="col">Status</th>
     <th scope="col">Actions</th>
   </tr>
 </thead>
 <tbody>
  {% for employee in employee_list %}
   <tr>
     <td>{{employee.employee_username.username}}</td>
     <td>{{employee.employee_name}}</td>
     <td>{{employee.employee_email}}</td>
     <td>{{employee.employee_skill}}</td>
     <td>{{employee.employee_level}}</td>
     <td>{{employee.employee_status}}</td>
     {% if employee.employee_status == 'Pending' %}
     <td>
        <a href="{% url 'admin:admin-emp-status-update' 'Approved' employee.id %}" class="btn btn-warning btn-sm" title="Approve" id="tooltip"><i class="fas fa-check-circle"></i></a>
        <a href="{% url 'admin:admin-emp-status-update' 'Rejected' employee.id %}" class="btn btn-warning btn-sm" title="Reject"><i class="fas fa-times-circle"></i></a>
    </td>
     {% else %}
     <td>
      <a href="{% url 'admin:admin-emp-update' employee.id %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
      <a href="{% url 'admin:admin-emp-delete' employee.id %}" class="btn btn-warning btn-sm"><i class="fas fa-trash-alt"></i></a>
  </td>
  {% endif %}
   </tr>
  {% endfor %}
 </tbody>
</table>
{% else %}
    <h2 class="text-center alert alert-warning">No Records</h2>
{% endif %}
<!--    Now the pagination section-->

{% if is_paginated %}
    <div class="pagination" >
        <span class="page-links" >
            {% if page_obj.has_previous %}
            <button class="btn btn-outline-primary" type="button"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <button class="btn btn-outline-primary" type="button"><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
            {% endif %}
        </span>
    </div>
<br>
{% endif %}
{% endblock content %}