{% extends 'admin/base.html' %}
{% block content %}
<h2 class="text-center alert alert-info">Job Listings</h2>
{% for message in messages %}
<div class="alert alert-success">
{{ message }}
</div>
{% endfor %}
{% if jobs %}
<table class="table table-hover table-dark table-bordered" id="userTable">
 <thead>
   <tr>
     <th scope="col">Title</th>
     <th scope="col">Company</th>
     <th scope="col">Location</th>
     <th scope="col">Posted Date</th>
     <th scope="col">Expiration Date</th>
     <th scope="col">Actions</th>
   </tr>
 </thead>
 <tbody>
  {% for job in jobs %}
   <tr>
     <td>{{job.title}}</td>
     <td>{{job.company}}</td>
     <td>{{job.location}}</td>
     <td>{{job.posted_date}}</td>
     <td>{{job.expiration_date}}</td>
     <td>
        <a href="{% url 'jobs:job-detail' job.id %}" class="btn btn-warning btn-sm" title="View Job"><i class="fas fa-eye"></i></a>
        <a href="{% url 'jobs:update-job' job.id %}" class="btn btn-warning btn-sm" title="Edit Job"><i class="fas fa-edit"></i></a>
        <a href="{% url 'jobs:delete-job' job.id %}" class="btn btn-warning btn-sm" title="Delete Job"><i class="fas fa-trash-alt"></i></a>
        </td>
    </tr>
  {% endfor %}
 </tbody>
</table>
{% else %}
    <h2 class="text-center alert alert-warning">No Records</h2>
{% endif %}
<!--    Now the pagination section-->

{% if is_paginated %}
    <div class="pagination" >
        <span class="page-links" >
            {% if page_obj.has_previous %}
            <button class="btn btn-outline-primary" type="button"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></button>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <button class="btn btn-outline-primary" type="button"><a href="?page={{ page_obj.next_page_number }}">Next</a></button>
            {% endif %}
        </span>
    </div>
<br>
{% endif %}
{% endblock content %}